<h1>世界遺産詳細</h1>

<%= attachment_image_tag @helitage, :image, :fill, 400, 400 %></br>

<table>
      <h2><%= @helitage.name %></h2>


<!--                    <tr>-->
<!--                        <th>都道府県</th>-->
<!--                        <td>%= @record.prefecture.name %></td>-->
<!--                    </tr>-->
  <thead>
    <tr>
      <!--<td><!%= @helitage.genre_id.name %></td>-->
    </tr>
  </thead>

  <thead>
    <tr>
      <th></th>
      <td></td><%= @helitage.point %></td>
    </tr>
  </thead>
  <thead>
    <tr>
        <td><%= @helitage.body %></td>
    </tr>
  <thead>
    <tr>
      <th>Info</th>
    </tr>
    <tr>
      <td>住所:<%= @helitage.address %></td>
    </tr>
    <tr>
      <td>営業時間:<%= @helitage.time %></td>
    </tr>
    <tr>
      <td>定休日:<%= @helitage.holiday %></td>
    </tr>
    <tr>
      <td>予算:<%= @helitage.price%></td>
    </tr>
    <tr>
      <!--<td>URL:<!%= @helitage.url%></td>-->
    </tr>
  </thead>
</table>
</div>
  <%= link_to "編集する", edit_admin_helitage_path(@helitage), class: "btn btn-danger" %>
</div>
