<!DOCTYPE html>
<html>
  <head>
    <title>HelitageHomepage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <!--ナビゲーションバー-->
      <div class='navgation'>
        <nav>
          <div class="navitem">
            <%= link_to "Home", root_path %>
            <%= link_to "company", user_companies_top_path %>
            <%= link_to "inquiry", user_companies_inquiry_path %>
          </div>
        </nav>
      </div>
    </header>


    <%= yield %>
  </body>
</html>
