<!DOCTYPE html>
<html>
  <head>
    <title>HelitageHomepage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="UTF-8" />
    <!-- FontAwesomeの読み込み -->
    <script src="https://kit.fontawesome.com/e9525941b3.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS読み込み -->
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
    <!--ナビゲーションバー-->
      <div class='navgation'>
        <nav>
          <% if admin_signed_in? %>
            <div class="navitem">
              <%= link_to "Home", root_path %>
              <%= link_to "NEWS作成", new_admin_newse_path %>
              <%= link_to "ジャンル作成", admin_genres_path %>
              <%= link_to "世界遺産作成", new_admin_helitage_path %>
              <%= link_to "問い合わせ一覧", user_companies_inquiry_path %>
            
          <% else %>
            <div class="navitem">
              <%= link_to "Home", root_path %>
              <%= link_to "世界遺産とは", user_helitages_helitage_path %>
              <%= link_to "企業概要", user_companies_top_path %>
              <%= link_to "問い合わせ", user_companies_inquiry_path %>
          <% end %>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
    <footer>
    <p>株式会社WTS</p>
    <!--ツイッター、インスタアイコン、フェイスブック-->
    <i class="fab fa-instagram-square fa-fw fa-2x"></i>
    <i class="fab fa-twitter-square fa-fw fa-2x"></i>
    <i class="fab fa-facebook-square fa-fw fa-2x"></i>
  </footer>
  </body>

</html>
