<!DOCTYPE html>
<html>
  <head>
    <title>HelitageHomepage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <!--ナビゲーションバー-->
      <div class='navgation'>
        <nav>
          <div class="navitem">
            <%= link_to "Home", root_path %>
            <%= link_to "世界遺産とは", user_helitages_helitage_path %>
            <%= link_to "企業概要", user_companies_top_path %>
            <%= link_to "問い合わせ", user_companies_inquiry_path %>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
    <footer>
    <p>株式会社WTS</p>
    <!--ツイッター、インスタアイコン、フェイスブック-->
  </footer>
  </body>
  
</html>
